html body{
    margin: 0;
    background-color: rgb(255, 255, 255);

}

.header img {
    width: 80px;
    height: 35px;
   margin-left: 60px;
   margin-top: 10px
}

.header {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navBar {
    display: flex;
    flex-direction: column;
}

.headerBottom{
    position: fixed;
    background: rgb(240,11,11);
background: linear-gradient(90deg, rgba(240,11,11,1) 0%, rgba(255,154,0,1) 17%, rgba(236,255,0,1) 30%, rgba(39,255,0,1) 52%, rgba(0,82,255,1) 75%, rgba(166,0,255,1) 100%);
    width: 100%;
    height: 53px;
    font-size: 2px;
    z-index: 0;
}


.verticalLine {
    color: black;
    width: 20px;
    height: 100px;
}

.headLine {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 50px;
    margin-top: 100px
}

.articleBodyDiv {
    margin-left: 50px;
    margin-right: 350px;
}

.articleSideBar {
    width: 20%;
    display: flex;
    flex-direction: row;
}

.articleSideBar img{
    margin-top: 150px;
    margin-left: 40px;
    position: absolute;
    right: 0;
    z-index: -2;

}

.authorName {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    color: rgb(175, 175, 175);
    text-transform: capitalize;
}

.pageBody {
    display: flex;
    flex-direction: column;
}

.paragraph {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(75, 75, 75)
}


.formBody {
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    z-index: 0;
    position: absolute;
    margin-top: 60px;
}

.notepad {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
}

.notepad img{
    height: 900px;
    width: auto;

}

input {
    width: 300px;
    height: 20px;
    border-radius: 5px;
    color: black;
    margin-bottom: -10px;
}

button {
    margin-bottom: 30px;
}

.donlogo img {
    width: 500px;
    height: auto;
    
}

.donlogo {
    padding-top: 20px;
    background-color: black;
    margin: 0 auto;
    padding-bottom: 40px;
    margin-bottom: -20px;
    display: flex;
    justify-content: center;
}

/* .container {
    height: 400px;
    width: 200px;
    color: red;
} */

.articleImage {
    margin-top: 50px;
}


.stuffnavheader {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgb(97, 97, 197);
    font-size: 20px;
    margin: 0 auto;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}
.myButton:active {
	position:relative;
	top:1px;
}

.btnContainer {
    display: flex;
    justify-content: center
}

.footerBar {
    height: 200px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: center;
}

.footerBar img {
    width: 800px;
    height: 160px;
}

.rainbowFooter {
    margin-top: 400px;
    height: 5px;
    background: rgb(240,11,11);
background: linear-gradient(90deg, rgba(240,11,11,1) 0%, rgba(255,154,0,1) 17%, rgba(236,255,0,1) 30%, rgba(39,255,0,1) 52%, rgba(0,82,255,1) 75%, rgba(166,0,255,1) 100%);

}


.mostPop img {
    width: 300px;
    margin-right: 20px;
    margin-top: 800px;
    margin-bottom: 50px;
}

.instructions {
    color: greenyellow;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace
}

.to-lower-case {
    text-transform: lowercase;
}

.capitalise {
    text-transform: capitalize;
}